
<section class="<two-way-binding">
  <article>
    <h3>Two-way Data binding</h3>
    <div>
      <input type="text"
        [value]="nome"
        (input) = "nome = $event.target.value"
      />
      <input type="text"
        [ngModel]="nome"
        (ngModelChange) = "nome = $event"
      />
      <input type="text" [(ngModel)]="nome">

      <input type="text" bindon-ngModel="nome">

      <p>Você digitou {{nome}}</p>
    </div>

    <div>
      <p>Meu nome é {{pessoa.nome}}, tenho {{pessoa.idade}} anos e moro na rua {{pessoa.endereco.rua}}</p> 
      <input type="text" [(ngModel)] = "pessoa.nome">
      <input type="text" [(ngModel)] = "pessoa.idade">
      <input type="text" [(ngModel)] = "pessoa.endereco.rua">

    </div>
  </article>
</section>