<p>Parametro "Cursos":</p>
<ul>
  <li *ngFor="let item of listaDeCursos">
    <span [class.destaque]="destaque"
          [class.semDestaque]="!destaque"
          >
          {{changeDestaque(item)}}
          {{item}}

    </span>
  </li>
</ul>
<p>Lista de "Coisas":</p>
<ul>
  <li *ngFor="let item of listaDeCoisas">
    <span [class.destaque]="destaque"
          [class.semDestaque]="!destaque"
          >
          {{changeDestaque(item)}}
          {{item}}

    </span>
  </li>
</ul>
<p>"Cursos":</p>
<ul>
  <li *ngFor="let item of cursos">

    <span [class.destaque]="destaque"
          [class.semDestaque]="!destaque"
          >
          {{changeDestaque(item)}}
          {{item}}

    </span>
  </li>
</ul>
